<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hmmmm co dzis zjem</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma-rtl.css')}}">
    <!-- CSS -->

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.ablyft.com/s/87884923.js"></script>

</head>


<body>

<div class="container">

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hmmmm co dzis zjem                </h1>
                <h2 class="subtitle">
                    Jestem tu po to by Ci pomoc wybrac, klklnij jedna z ponizszych pór dnia                </h2>
            </div>
        </div>
    </section>

    <div class="columns is-centered ">
        <div class="column is-one-third">
            <a href="{{ url_for('sniadanie') }}">
                <button href="#jumpToTitle" type="button " class="is-fullwidth button is-large is-bold is-primary">sniadanie</button></a>

        </div>

        <div class="column is-one-third">
            <a href="{{ url_for('obiadek') }}">
                <button type="button" class="is-fullwidth button is-large is-bold is-success">obiadek</button></a>
        </div>

        <div class="column is-one-third">
            <a href="{{ url_for('kolacja') }}">
                <button type="button" class="is-fullwidth button is-large is-bold is-warning">kolacja</button></a>
        </div>

    </div>
</div>



{% block content %}

{% endblock %}

</body>
